html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------------First Header-------------------- */

.first_header{
    justify-content: center;
    display: flex;
    padding: 10px 200px 10px 200px;
    justify-content: space-between;
    border-bottom: 1px groove #e0e1e1;
}

.first_header a{
    margin-right: 10px;
    color: #21a06a;
}

#div0{
    display: none;
}

.first_header #div1{
    display: flex;
}

.first_header #div1 a{
    font-weight: 400;
    color: #777;
    line-height: 16px;
}

.first_header #div2 a{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .1em;
    text-align: center;
    line-height: 1.556em;
    font-family: 'Roboto','sans-serif';    
}

.first_header #div3 a{
    font-weight: 400;
    color: #777;
    line-height: 16px;
}

/* ----------------------------------search tab--------------------- */

.search_tab{
    height: 120px;
    display: flex;
    align-items: center;
    
}

.logo{
    height: 80px;
    width: 280px;
    padding: 10px;
    margin: 0 50px 0 100px;
    background-image: url("/image/logo-standard.png");
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
}

/* ------search bar start */

.search_bar{
    height: 80px;
    width: 380px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 5px 10px;
    margin-top: 10px;
}
.search-input {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}
.search-button {
    background-color: #00d084;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    height: 100%;
}
.search-button:hover {
    background-color: #05925e;
}
.search-button-icon {
    font-size: 16px;
}

/* ------------------------------------------------------------search bar end */

.account{
    height: 80px;
    width: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 0 0 10px;
}

.account img{
    max-width: 60%;
    max-height: 60%;
}

.acc_div{
    margin: 0 0 0 10px;
    color: #00d084;
    text-decoration: none;
}

.wishlist_cart{
    height: 80px;
    width: 200px;
    padding: 10px;
    display: flex;
}

.wishlist_cart img{
    height: 60%;
    margin-top: 15px;
}

.wish_count{
    font-size: 1.3rem;
    font-weight: 5000;
    color: #00d084;
    height: 20px;
    width: 15px;
    background-color: #fff;
    padding: 0 2px 2px 2px;
    margin: 12px 10px 10px -12px;
    border-radius: 50%;
}

.wish_cart_div{
    margin: 20px 0 0 5px;
}

.cart{
    height: 80px;
    width: 180px;
    padding: 10px;
    background-color: yellow;
}

.cart_count{
    font-size: 1.3rem;
    font-weight: 5000;
    color: #00d084;
    height: 20px;
    width: 15px;
    background-color: #fff;
    padding: 0 2px 2px 2px;
    margin: 12px 10px 10px -12px;
    border-radius: 50%;
}

/* ---------------------------------nav bar-------------------- */

.nav_bar{
    background-color: #00d084;
    line-height: 60px;
    margin: 0;
}

#nav_list{
    margin-left: 130px;
}

#nav_list ul{
    margin: 0px;
}

.nav_bar li{
    font-size: 19px;
    color: #fff;
    width: 80px;
    margin-left: 20px;
    display: inline-block;
    
}

.nav_bar li a{
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease-out;
}

.nav_bar li a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #05925e;
    transition: transform 0.5s ease-out;
}

#ask_pharmacist{
    width: 300px;
    margin-left: 580px;
}

#ask_pharmacist a{
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    background: linear-gradient(90deg,#fff -0%, #fff 50%, #00d084 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.5s;
    cursor: pointer;
    text-decoration: none;
}

#ask_pharmacist :hover{
    color: #00d084;
    background-position: left;
}

/* ------------------------------------------left right image------------ */

.left_right_img{
    display: flex;
    margin: 5px;
}

.left_right_img div{
    width: 100%;
    margin: 10px;
}

#left_img img{
    /* background-color: red; */
    width: 100%;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    z-index: 2;
}

#right_img img{
    /* background-color: blue; */
    width: 100%;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

/* -----------------------------------------product--------------------- */

.product{
    display: flex;
    justify-content: center;
}

.slider-container {
    padding: 0px 30px 0px 0px;
    margin: 0px 10px 0px 10px;
    display: flex;
    height: 200px;
    width: 1070px;
    overflow: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.slide {
    color: #000;
    margin: 15px;
    border: 2px solid#d6ffed;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: 0.6s;
    
}

.slide:hover{
    border: 2px dashed #63c79c;
    background-color: aliceblue;
    cursor: pointer;
}

.slide img {
    max-width: 100%;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#left_icon{
    height: 50px;
    align-self: center;
}

.lr_icon{
    transition: transform 0.3s ease;
}

.lr_icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* ------------------------------- Offers Section ------------------------------------------- */

.offer_section{
    background-color: #05925e;
    height: 200px;
    align-items: center;
    padding: 0 15px 0 15px;
    margin: 60px 60px 60px 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

#offer{
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 3px;
    background-color: #ccc;
    text-align: center;
}

#offer img{
    height: 100px;
    width: 120px;
}


/* ------------------------------------------category products------------------------------ */

.oral_div{
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.oral_div_left{
    background-color: #f1f4f4;
    width: 350px;
    height: 8px;
    align-content: center;
    text-align: center;
    margin: 20px 0 0 0px;
}

.oral_div_right{
    background-color: #f1f4f4;
    width: 300px;
    height: 8px;
    align-content: center;
    text-align: center;
    margin: 20px 0 0 0px;
}

.cat_oral{
    align-content: center;
    height: 50px;
    width: 300px;
    font-weight: 700;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin: 50px 30px 30px 30px;
}

.oral_products_add{
    display: flex;
    justify-content: left;
    margin: 50px 100px 50px 100px;
}

.add_div1{
    height: 900px;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: #00d084;
}

.product_select{
    height: 760px;
    width: 250px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 50px;
    border: 10px ridge #00d084;
}

#product_select_heading{
    height: 80px;
    border-radius: 3px;
    text-align: center;
    align-content: center;
    font-size: 35px;
    color: #05925e;
    font-weight: 600;
    border-bottom: 5px double #00d084;
}

#product_select_object {
    display: flex;
    color: #000;
    padding-left: 10px;
    margin: 10px 5px 10px 5px;
    border: 2px solid#d6ffed;
    height: 70px;
    width: 230px;
    align-items: center;
    align-content: center;
    transition: 0.6s;
    
}

#product_select_object:hover{
    border: 2px dashed #63c79c;
    background-color: aliceblue;
    cursor: pointer;
}

#product_select_object img{
    margin-right: 30px;
    margin: 0 20px 0 10px;
}

.category_products{
    /* background-color: ; */
    /* margin: 0px 0px 0 30px; */
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(4, 1fr); */
}


/* -------------------------------product card------------------------- */

.product_card{
    height: 300px;
    width: 200px;
    border: 1px solid rgb(199, 222, 199);
    border-radius: 10px;
    margin: 20px 10px 20px 0;
    
}

.product_card:hover{
    border: 1px dashed green;
}

#product_img img{
    height: 110px;
    width: 150px;
    margin: 5px 5px 0px 5px;
    border-radius: 5px;
}

#product_img {
    text-align: center;
    margin-top: 10px;
}

#product_description{
    text-align: center;
    margin: 0px 5px 5px 5px;
}

#product_name{
    font-size: 20px;
}

#product_price{
    font-size: 15px;
    color: cadetblue;
}

#add_to_cart{
    height: 30px;
    width: 100px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    color: #fff;
    background-color: darkkhaki;
}

#add_to_cart:hover{
    cursor: pointer;
}



/* -----------------------------------Doctor's Consultation--------------------------------- */

.doctor_section{
    background-color: #e8f3ee;
    margin: 100px 0 100px 0;
    padding: 20px 0 20px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center
}

#doctor_head{
    font-size: 60px;
    margin: 50px 0px 0px 0px;
}

#doctor_statement{
    font-size: 30px;
    color: #63c79c;
}

.doctor{
    background-color: #e8f3ee;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px 0 10px 0;
    
}

.doctor img{
    height: 250px;
    width: 250px;
    border-radius: 5px;
    object-fit: cover;
}

.doctor_one{
    background-color: #bcf7dc;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border: 1px dashed #777;
    border-radius: 5px;
}

.doctor_two{
    background-color: #bcf7dc;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border: 1px dashed #777;
    border-radius: 5px;
}

.doctor_three{
    background-color: #bcf7dc;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border: 1px dashed #777;
    border-radius: 5px;
}

#doctor_name{
    font-size: 30px;
}

#doctor_qualification{
    font-size: 20px;
    color: #63c79c;
}

#doctor_description{
    font-size: 15px;
}


/* -----------------------------------------------------------Footer ----------------------------------------------------------- */

.footer{
    display: flex;
    justify-content: center;
}

 /* ------------------------ ask pharmacist ----------------------  */

.ask_body{
    height: 600px;
    width: 1300px;
    padding: 30px;
    display: flex;
    border-radius: 20px;
    background-color: #00d084;
    position: relative;
    margin-top: 20px;
}

.ask_1{
    padding: 0px 40px 0px 0px;
    width: 50%;
    justify-items: center;
}

#ask_head{
    font-size: 35px;
}

#ask_subhead{
    font-size: 30px;
    margin-left: 100px;
}

#ask_name{
    font-size: 25px;
    font-weight: 400;
}

#customer_name{
    height: 28px;
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#ask_num{
    font-size: 25px;
    font-weight: 400;
}

#customer_num{
    height: 28px;
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#ask_query{
    font-size: 25px;
    font-weight: 400;
}

#customer_query{
    height: 28px;
    width: 400px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#ask_submit{
    font-weight: bolder;
    height: 35px;
    width: 150px;
    margin-left: 100px;
    border-radius: 5px;
    background-color: #63c79c;
    transition: transform 0.5s ease;
}

#ask_submit:hover{
    background-color: #418266;
    cursor: pointer;
    transform: scale(1.1);
}

#upload_prescription{
    font-size: 25px;
    font-weight: 400;
}

form{
    font-size: 25px;
    font-weight: 400;
}

#upload{
    font-weight: bold;
    height: 25px;
    width: 100px;
    margin-left: 100px;
    border-radius: 5px;
    background-color: #21a06a;
    margin-bottom: 20px;
    margin-left: 50%;
}

#ask_img{
    height: 600px;
    width: 550px;
    margin-left: 60px;
    border-radius: 10px;
}

/* ---------------------------Main Footer---------------------- */

.main_footer{
    height: 650px;
    width: 100%;
    margin-top: 150px;
    background-color: #05925e;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    /* z-index: 9; */
}

.footer_1{
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 100px;
    /* z-index: 10; */
}

#footer_1_1{
    color: #000; /* #00472e */
    text-align: center;
    margin: 20px;
}

#footer_1_2{
    color: #000;
    text-align: center;
    margin: 20px;
}

#footer_1_3{
    color: #000;
    text-align: center;
    padding-top: 50px;
}

#footer_1_3 iframe{
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

#footer_head{
    font-size: 30px;
    font-weight: 700;
}

#footer_body{
    font-size: 20px;
    font-weight: 540;
}

.footer_2{
    height: 50px;
    width: 100%;
    background-color: #00d084;
    bottom: 0px;
    position: absolute;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    /* border-radius: 20px 20px 0px 0px; */
    z-index: 10;
}





